body {
  font-family: Arial;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
}

.left {
  left: 0;
  background-color: #F2EAEA;
  color: #0061B0;
}

.right {
  right: 0;
  background-color: white;
  color: #0061B0;
}

.centered {
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  margin-top: 25px;
  margin-bottom: 30px;
}
.para{
  font-size: 24px;
  color: black;
  font-weight: bold;
  margin-left: 20px;
}
.p2{
  font-size: 22px;
  color: #616060;
  margin-left: 40px;
}
.images{
margin-top: 30px;
}
.images ul li{
list-style: none;
display: inline-block;
position: relative;
padding: 10px 5px 10px 5px;
}
.images ul li img{
  width: 160px;
  height: 80px;
}
.count{
  font-size: 24px;
  color: black;
  font-weight: bold;
  margin-left: 20px;
}
.count,.para{
display: inline-block;
}
.count,.p1{
display: inline-block;
padding: 0;
font-size: 24px;
color: black;
font-weight: bold;
}
.p1{
margin-left: -1px;
}
.alumini ul li{
list-style: none;

position: relative;
padding: 10px 5px 10px 5px;
}
.alumini ul li img{
width: 220px;
height: 100px;

}
.alumini{
margin-top: 30px;
width: 50px;
height: 30px;

}


.display{
  display: inline-flex;
}
.display1{
  display: inline-flex;
 
  
}
.card1{
  background-color: #3AC2C2;
  width: 192px;
  height: 260px; 
  text-align: center;
  padding-top: 86px;
  font-weight: bold;
  box-sizing: border-box;
  position: relative;
  color: #313333;
  border-radius: 0px;

}
.card2{
  background-color: white;
  width: 192px;
  height: 260px;
  text-align: center; 
  padding-top: 86px;
  font-weight: bold;
  box-sizing: border-box;
  position: relative;
  color: #313333;
  border-radius: 0px;

}
.card3{
  background-color: white;
  width: 192px;
  height: 260px;
  text-align: center; 
  padding-top: 86px;
  font-weight: bold;
  box-sizing: border-box;
  position: relative;
  color: #313333;
  border-radius: 0px;

}
.card4{
  background-color: #3AC2C2;
  width: 192px;
  height: 260px; 
  text-align: center;
  padding-top: 86px;
  font-weight: bold;
  box-sizing: border-box;
  position: relative;
  color: #313333;
  border-radius: 0px;

}
.card1::after{
  content: ' ';
  position:absolute;
  width:0px;
  height: 0px;
  border-top:20px solid transparent;
  border-right:20px solid transparent;
  border-bottom:20px solid transparent;
  border-left:20px solid #3AC2C2;
  bottom:50%;
  left:100%;
  margin-top: -10px;
}
.card2::after{
  content: ' ';
  position:absolute;
  width:0px;
  height: 0px;
  border-top:20px solid transparent;
  border-right:20px solid transparent;
  border-bottom:20px solid transparent;
  border-left:20px solid white;
  bottom:50%;
  left:100%;
  margin-top: -10px;
}
.card3::after{
  content: ' ';
  position:absolute;
  width:0px;
  height: 0px;
  border-top:20px solid transparent;
  border-right:20px solid white;
  border-bottom:20px solid transparent;
  border-left:20px solid transparent;
  bottom:50%;
  right:100%;
  margin-top: -10px;
}
.card4::before{
  content: ' ';
  position:absolute;
  width:0px;
  height: 0px;
  border-top:20px solid transparent;
  border-right:20px solid #3AC2C2;
  border-bottom:20px solid transparent;
  border-left:20px solid transparent;
  bottom:50%;
  right:100%;
  margin-top: -10px;
}
.viewmore{
  font-size: 20px;
  font-weight: bold;
  margin-left: 650px;
  margin-top: 30px;
}
.column{
  height:auto;
  overflow: hidden;
}
.column img { 
  display:block;
  transition : transform 2s;
}
.column:hover img {
  transform: scale(1.1);
}


