@tailwind base;
@tailwind components;
@tailwind utilities;



.tabs-notices .nav-link {
    background: initial !important;
    color: #000 !important;
}

.list-group{
    border:4px solid #0060b1;
}
.tabs-notices .nav-tabs .active {
    background: #0060b1 !important;
    color: #fff !important;
}

.link-primary-col{
    color: #0060b1 !important;
}
/* .nav-item{
    background: #E2E8F0;
    margin: 2px;
} */