@tailwind base;
@tailwind components;
@tailwind utilities;



.tabs-notices .nav-link {
    background: initial !important;
    color: #000 !important;
}

.tabs-notices .nav-tabs .active {
    background: #0060b1 !important;
    color: #fff !important;
}

.link-primary-col{
    color: #0060b1 !important;
}